.body {
    -fx-background-image: url("/assets/playmat.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1600 900;
    -fx-background-position: center center;
}

.prizeCards {
    /*-fx-background-color: gold;*/
}

.humanPB {
    -fx-background-color: transparent;
}

ImageView {
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-width: 5px;
}